




<div id="izquierda">
    <h2>Menu para la izquiera </h2>
    <p>Selecciones </p>
    <nav>
        <ul>
            <button (click)="universidad()">Agregar</button>
            <li><a routerLink="/ventanalista">Listar</a></li>
            <li><a routerLink ="/biografia">Acerca de..</a></li>

            
          </ul>


    </nav>

    
</div>

  
   <!--<div id="derecha">
    <h2>Menu para la derecha </h2>
    <p>Selecciones </p>
    <nav>
    
        <ul>
            <button (click)="universidad()">Agregar</button>
            <li><a routerLink="/ventanalista">Listar</a></li>
            <li><a routerLink ="/biografia">Acerca de..</a></li>

            
          </ul>


    </nav>

    
  </div> -->

